# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#colors 
primary : #A0DEFF 60%
secondary : #73946B 30% 
Accent : #DDA853 buttons dropdowns  #5E7B56 10% 
text : #F5F5F5
